div.gallery {
    display: flex;
    flex: content;
    flex-direction: row;
    overflow: auto;
    padding: 10px;
    max-width: 35em;
    scroll-behavior: smooth;
}

div.gallery img {
    margin: 5px;
    max-width: max-content;
    height: 20rem;
}

@media (width <= 1250px) {
    div.gallery {
        display: flex;
        flex: content;
        flex-direction: row;
        overflow: auto;
        padding: 10px;
        max-width: em;
        scroll-behavior: smooth;
    }
    div.gallery img {
        margin: 5px;
        max-width: max-content;
        height: 15rem;
    }
}

